# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ps1
*.bat

# VSCode config stuff
!.vscode/c_cpp_properties.json
!.vscode/tasks.json

# VS stuff
ARM64/
ARM/
*.vcxproj.user

# NDK stuff
out/
[Ll]ib/
[Ll]ibs/
[Oo]bj/
[Oo]bjs/
[Bb]uild/
*.zip
*.txt
extern/
Android.mk.backup
qpm.shared.json

log_timestamp

# Quest modding stuff
*.qmod